.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.addUserPopup {
  position: absolute;
  top: 0;
  right: 0;
  height: 250px;
  width: 400px;
  z-index: 99;
  background-color: #fff;
}

Select-control
{
 width: 160px;
}

#firstNameTXT{
  margin-top: 10px;
}
#contactNumberTXT{
  margin-top: 10px;
}
#lastNameTXT{
  margin-top: 10px;
}

#emailAddressTXT{
  margin-top: 10px;
}
#saveInfo{
  margin-top: 10px;
}
#bloodTypeTXT{
  margin-left: -140px;
  margin-top: 10px;
}